<% if flash[:notice] %>
  <p><%= flash[:notice] %></p>
<% end %>
<div class="container">  <!-- この行を追加 -->
  <div class="row">
    <div class="col-xs-3">
  <h1>User info</h1>
<%= attachment_image_tag @user, :profile_image, :fill, 60, 60, class: "img-circle pull-left profile-thumb", fallback: "no_image.jpg"%><br>
 <table class="table">
  <thead>
	  <tr>
	  <th>name</th><th><%= @user.name %></th></tr>
	  <tr>
	  <th>introduction</th><th><%= @user.introduction %></th></tr>
	   <tr>
	    <th>follows</th><th><%= link_to "#{@user.active_relationships.count} ", follows_user_path %></tr>
	    <th>followers</th><th><%= link_to "#{@user.passive_relationships.count} ", followers_user_path %></th>
	  </tr>
  </thead>
 </table>
  
    <% if current_user != @user %>
      <% if @user.followed_by?(current_user) %>
        <%= link_to 'フォロー外す', user_relationships_path(@user.id), class: "btn btn-primary",  method: :delete %>
      <% else %>
        <%= link_to 'フォローする', user_relationships_path(@user.id), class: "btn btn-primary", method: :post %>
      <% end %>
    <% else %>
    <%= link_to "",edit_user_path(current_user.id), class:"col-xs-12 btn btn-default glyphicon glyphicon-wrench edit" %>
    <% end %>
  
 
 
      <h1>New book</h1>
      <%= render 'layouts/error.message'  %>
      <%= form_with model: @book_new,  local:true do |f| %>
        <h4>Title</h4>
        <%= f.text_field :title %>
        <h4>Opinion</h4>
        <%= f.text_area :body %>
　     　<%= f.submit "Create Book", class: "btn btn-primary" %>
      <% end %>
    </div>
    <div class="col-xs-9">
      <h1>Book detail</h1>
      <table class="table table-striped">
	      <tbody>
	        <tr>
            <td style="border:none;"><%= attachment_image_tag @user, :profile_image, :fill, 60, 60, class: "img-circle pull-left profile-thumb", fallback: "no_image.jpg"%>
            <br><br><br><%= link_to @user.name, user_path(@book.user.id) %></td>
            <td style="border:none;"><%= link_to @book.title,book_path(@book)%></td>
            <td style="border:none;"><%= @book.body %></td>
            
         
          <td class="favorites_buttons_<%= @book.id %>">
        <%= render 'favorites/favorite-btn', book:@book %>
      </td>
                <!-- コメント機能　-->
                  <td>
                      <div class="comment-list bt style-2" id="comments">
                        <div class="float-wrapper">
                          <div class="comment-count">コメント数：<%= @book.book_comments.count %></div>
                        </div>

                  </td>
                   <% if @user.id == current_user.id %>
              <td><span><%= link_to 'Edit', edit_book_path(@book),class: "btn btn-success"  %></span></td>
		          <td><span><%= link_to 'Destroy', book_path(@book), class: "btn btn-danger" ,method: :delete, "data-confirm" => "本当に削除しますか？"  %></span></td>
            <% end %>
          </tr>
        </tbody>
      </table>
      <div id="comment-create">
        <%= render partial: 'book_comments/comment', locals: { book_comments: @book_comments } %>
      </div>
     <%= form_with(model: [@book,@book_comment], url: book_book_comments_path(@book) ) do |f| %>
  <div class="row">
    <div class="col-sm-12">
      <%= f.text_area :book_comment, rows:'5', class: "form-control",placeholder: "コメントをここに" %>
    </div>
  </div>
<%= f.submit "送信する", class: "btn btn-lg btn-base-1 mt-20 pull-right" %>
<% end %>
    </div>
  </div>
</div>